body {
    font-family:"Times New Roman", Times, serif ;
    margin: 0;
    padding: 0;
   
    
  }
  
  .form-container {
    background-image: url('https://i.pinimg.com/736x/94/51/bb/9451bb028df94abeb11f596c1ac4d579.jpg'); /* Replace with the path to your background image */
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  label {
    margin-bottom: 8px;
  }
  
  input {
    margin-bottom: 16px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  button {
    padding: 12px;
    background-color: #000000;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #ffffff;
    color: #000000;
  }
  